
html { overflow-y: scroll; }
body {
  background: #f0f0f0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #313131;
  font-size: 62.5%;
  line-height: 1;
}

h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  letter-spacing: -0.05em;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #fff;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

h1:before,
h1:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 1px;
  vertical-align: middle;
  background: #f0f0f0;
}
h1:before {
  left: -.5em;
  margin: 0 0 0 -50%;
}
h1:after {
  left: .5em;
  margin: 0 -50% 0 0;
}
h1 > span {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}

h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.1em;
  line-height: 1.4em;
  letter-spacing: normal;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #444;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  color: white;
  vertical-align:bottom;
}

.logo {
  width: 95px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.1em;
  line-height: 1.4em;
  letter-spacing: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #444;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  color: white;
  vertical-align:bottom;
}

.container {
  background-image: url('http://www.st-barths.com/eden-rock/uploads/images/Gallery/restaurant/Restaurant-(3).jpg');
  background-size: cover;
  height: 664px;
  width: 1008px;
}

.rotatingLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 222px;
    margin: -60px 0 0 -85px;
    -webkit-animation:spin 1s linear;
    -moz-animation:spin 1s linear;
    animation:spin 1s linear;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.1em;
  line-height: 1.4em;
  letter-spacing: normal;
  padding: .1em 0;
  color: #444;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
}

h2:before,
h2:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 1px;
  vertical-align: middle;
  background: #f0f0f0;
}
h2:before {
  left: -.5em;
  margin: 0 0 0 -50%;
}
h2:after {
  left: .5em;
  margin: 0 -50% 0 0;
}
h2 > span {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}

p {
  display: block;
  font-size: 1em;
  line-height: 1.55em;
  margin-bottom: 10px;
  color: #000;
}

#username {
  padding-left: 20px;
  text-align: left;
  color: black;
  display: inline-block;
}

#userphoto {
  padding-left: 20px;
}

#restaurantCount {
  padding-left: 20px;
  display: inline; 
  color: black;
}

#container {
  display: block;
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 45px;
}

#content {
  background-color: #3f51b5;
  display: block;
  width: 100%;
  margin: 0 auto;
    /*background: #fff;*/
  padding: 25px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 15px rgba(0,0,0,.8);
  box-shadow: 0px 0px 15px rgba(0,0,0,.8);
  z-index: 100;
}

.ratinginfo {
  border-radius: 10px;
  display: inline-block;
  width: 460px;
  padding-top: 15px;
  padding-bottom: 10px; 
  background: #fff; 
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  z-index: 100;
}

.restinfo {
  border-radius: 10px;
  display: inline-block;
  width: 460px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 10px; 
  background: #fff; 
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  z-index: 100;
}

#restphoto {
  display: block;
  float: left;
  margin-top: 25px;
  margin-right: 10px;
  height: 200px;
  width: 200px;
}
#restphoto img {
  margin-top: 20px;
  height: 200px;
  width: 200px;
  display: block;
  padding: 2px;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

#recommendation {
  margin: 0 auto;
  display: inline;
  font-weight: bold;
  font-size: 18px;
}

.themer {
  background-color: #3f51b5;
  height: 80px;
}

.ngdialog.dialogwidth800 .ngdialog-content{width : 800px;}
/*bootstrap search*/

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}
