<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Savor</title>
  <!-- Auth0's lock widget library -->
  <script type="text/javascript" src="https://cdn.auth0.com/js/lock-7.12.min.js"></script>

  <!-- AngularJS -->
  <script src="bower_components/angular/angular.js"></script>
  
  <!-- Angular cookie wrapper library for client cookies -->
  <script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.js"></script>
  <!-- Angular's Router Library for SPA -->
  <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
  <!-- Auth0's Angular SDK Library -->
  <script type="text/javascript" src="https://cdn.auth0.com/w2/auth0-angular-4.js"></script>
  <!-- Angular wrapper for localStorage and sessionStorage. Defaults to ng-cookies if not available -->
  <script src="http://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js" type="text/javascript"> </script>
  <!-- Angular wrapper library for JWT-->
  <script src="http://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js" type="text/javascript"> </script>

  <!-- ui-route -->
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

  <!-- Things for Angular Material -->
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-messages/angular-messages.min.js"></script>

  <!-- Angular Material -->
  <script src="bower_components/angular-material/angular-material.min.js"></script>
  
  <!-- Auth0's Viewport settings-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <!-- My CSS -->
  <link rel="stylesheet" href="../styles.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


  <!-- My Scripts -->
  <script src="app.js"></script>
  <script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
  <script src="/views/components/toolbar/toolbar.ctrl.js"></script>
  <script src="/views/components/toolbar/toolbar.dir.js"></script>
  <script src="/views/components/profile/profile.ctrl.js"></script>

  
  
</head>

<body ng-app="savor" ng-controller="savorCtrl">

  <div layout="column" >  
    <!-- <md-toolbar class="md-hue-1" ng-show="showSearch">
      <div class="md-toolbar-tools">
        <md-input-container flex>
          <label>&nbsp;</label>
          <input ng-model="search.who" placeholder="enter search">
        </md-input-container>
        <md-button aria-label="Search" ng-click="showSearch = !showSearch">
          <i class="material-icons" class="name" layout-align="enc center">search</i></md-icon>
        </md-button>
      </div>
    </md-toolbar> -->

  <h1 id="username">{{user.profile.nickname}}</h1>
  <div id="userphoto"><img src="images/avatar.png" alt="rest1"></div>
  <br>
  <p id="restaurantCount">Restaurants Visited: {{user.reviewCount}}</p>
  <br>
  
 <!--  SORTBY -->
  
  <section layout="row" layout-sm="column" layout-align="center" layout-wrap >
    <md-input-container flex>
      <md-icon><i class="material-icons" class="name"></i></md-icon>
        <label>Sort By</label>
        <md-select ng-model="service">
          <md-option value="A - Z">
            A-Z
          </md-option>
          <md-option value="Newest - Oldest">
            Newest-Oldest
          </md-option>
        </md-select>
    </md-input-container> 
    
<!--     SEARCH -->
    <md-input-container class="md-icon-float md-block" flex>
      <md-icon><i class="material-icons" class="name"></i>search</md-icon>
      <input ng-model="searchRestaurant" type="text" placeholder="Search Here">

        {{restaurant.restaurantAddress}}
    </md-input-container>
  </section>
    


<!-- RESTAURANT RENDER -->
  <div ng-repeat="restaurant in restaurants | filter:searchRestaurant">
    <md-content id="start" flex>
      <div id="container">
        <div id="content">
          <div class="row">
            <div class="col-md-4">
              <img id="restphoto" src="{{restaurant.image}}" alt="">
            </div>
            <div class="col-md-8">
              <h1>{{restaurant.restaurantName}}</h1>
                <div class="restinfo">
                  <p>{{restaurant.restaurantAddress}}</p>
                  <p>{{restaurant.restaurantReview}}</p>
                </div>
              <h3>Ratings</h3>
                <div class ="ratinginfo">
                  <ul>
                    <li>Food: {{restaurant.foodRating}}</li>
                    <li>Service: {{restaurant.serviceRating}}</li>
                    <li>Ambience: {{restaurant.ambienceRating}}</li>
                    <li>Price per: {{'$' + restaurant.priceRating}}</li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>
  <div ui-view></div>
  </div>
</body>
</html>
