
<div class="grid" masonry>
  <div class="masonry-brick" ng-repeat="meal in meals" on-finish-render>  
    <div class="grid-item">
        <div class="meal-header">
          <img class="meal-avatar" ng-src="{{ userOnRootScope.picture }}">
          <img class="meal-img" ng-src="{{meal.image}}">
          <span class="meal-restaurant">{{meal.restaurant}}</span>
        </div>
        <span class="meal-title">{{meal.meal}}</span>
        <span class="meal-date">{{meal.date}}</span>
      </div>
    </div>
  </div>
</div>