<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Form Submission</title>
      <link rel='stylesheet prefetch' href='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.css'>
      <link rel='stylesheet prefetch' href='https://material.angularjs.org/1.1.0-rc4/docs.css'>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  
<div ng-controller="reviewController" layout="column" layout-padding="" ng-cloak="">

  <md-content class="md-no-momentum">

    <md-input-container class="md-icon-float md-block">
      <md-icon><i class="material-icons" class="name">restaurant</i></md-icon>
      <input ng-model="restaurant.name" type="text" placeholder="Restaurant">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <md-icon><i class="material-icons" class="name">home</i></md-icon>
      <input ng-model="restaurant.address" type="text" placeholder="Address">
    </md-input-container>
  </md-content>

    <p>Choose a score 1-5 for the following categories</p>
    <div layout="row">
      <md-input-container flex>
      <md-icon><i class="material-icons" class="name">spa</i></md-icon>
        <input ng-model="ambience" type="text" placeholder="Ambience">
      </md-input-container>

      <md-input-container flex>
      <md-icon><i class="material-icons" class="name">local_pizza</i></md-icon>
        <input ng-model="food" type="text" placeholder="Food">
      </md-input-container>

      <md-input-container flex>
      <md-icon><i class="material-icons" class="name">room_service</i></md-icon>
        <input ng-model="service" type="text" placeholder="Service">
      </md-input-container>

      <md-input-container flex>
      <md-icon><i class="material-icons" class="name">attach_money</i></md-icon>
        <input ng-model="price" type="text" placeholder="Price">
      </md-input-container>
    </div>
    
<!--     TESTING -->
<!--   <md-dialog>
  <md-content>
  <md-select ng-model="d"><md-option ng-value="opt.val" ng-repeat="opt in options">{{opt.name}}</md-option></md-select>
  </md-content></md-dialog>



      <md-input-container flex>
      <md-icon><i class="material-icons" class="name">attach_money</i></md-icon>
        <label>Price</label>
        <md-select ng-model="price">
          <md-option ng-repeat="prices in priceCategories by $index"  >
            {{prices.text}}
          </md-option>
        </md-select>
      </md-input-container>
    </div> -->

    <md-input-container md-no-float='' class="md-block">
      <span>{{200 - restaurant.review.length}} Characters remaining</span>
      <md-icon><i class="material-icons" class="name">chat</i></md-icon>
      <input ng-model="restaurant.review" ng-trim="false" maxlength="200" type="text" placeholder="200 Characters">
    </md-input-container>

    <div layout="row">
      <!-- UPLOAD PIC BUTTON -->
      <input class= "ng-hide" type="file" id="file" name="file"/>
      <label for="file" class="md-button md-raised md-primary">UPLOAD PHOTO</label>
      <md-button class="md-buton md-raised md-primary" ng-click="add()">ADD PHOTO</md-button>
      
      
<!-- <input class="ng-hide"  id="file" type="file" name="file" ngf-select ng-model="restaurant.photo" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" ng-click="add()" /> -->
    

<!--         <md-input-container flex>
      <md-button class="md-raised md-primary">
        <label for="file-input">Select </label>
      </md-button>  
      <input id="file-input" type="file" ngf-select ng-model="restaurant.photo" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB">
    </md-input-container> -->



  
        <md-button class="md-warn md-raised md-hue-2" ng-click="sendPost()">SUBMIT!</md-button>

    </div>

</div>

<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.js'></script>
<script src="index.js"></script>
</body>
</html>
