<div ng-controller="reviewController" layout="column" layout-padding="" ng-cloak="">
  <md-content class="md-no-momentum">

    <md-input-container class="md-icon-float md-block">
      <md-icon><i class="material-icons" class="name">restaurant</i></md-icon>
      <input ng-model="restaurant.name" type="text" placeholder="Restaurant">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <md-icon><i class="material-icons" class="name">home</i></md-icon>
      <input ng-model="restaurant.address" type="text" placeholder="Address">
    </md-input-container>
  </md-content>

    <p>Choose a score 1-5 for the following categories</p>
    <div layout="row">
      <md-input-container flex>
      <md-icon><i class="material-icons" class="name">spa</i></md-icon>
        <input ng-model="ambience" type="text" placeholder="Ambience">
      </md-input-container>

      <md-input-container flex>
      <md-icon><i class="material-icons" class="name">local_pizza</i></md-icon>
        <input ng-model="food" type="text" placeholder="Food">
      </md-input-container>

      <md-input-container flex>
      <md-icon><i class="material-icons" class="name">room_service</i></md-icon>
        <input ng-model="service" type="text" placeholder="Service">
      </md-input-container>

      <md-input-container flex>
      <md-icon><i class="material-icons" class="name">attach_money</i></md-icon>
        <input ng-model="price" type="text" placeholder="Price">
      </md-input-container>
    </div>

    <md-input-container md-no-float='' class="md-block">
      <span>{{200 - restaurant.review.length}} Characters remaining</span>
      <md-icon><i class="material-icons" class="name">chat</i></md-icon>
      <input ng-model="restaurant.review" ng-trim="false" maxlength="200" type="text" placeholder="200 Characters"><br><br>
      <p ng-show="photoUploaded">{{picName}} uploaded!</p>
    </md-input-container>
      
    <div class="crop-container">
      <div class="crop-area">
        <div class="file-input">Select an image file: <input type="file" id="fileInput" /></div>
          <img-crop image="myImage" result-image="myCroppedImage" area-type="square"></img-crop>
        </div>
        <div class="cropped-area">
          <div class="crop-label">Cropped Image:</div>
          <div><img ng-src="{{myCroppedImage}}" /></div>
        </div>

    </div>
    <md-button class="md-warn md-raised md-hue-2" ng-click="upload()">SUBMIT!</md-button>
</div>
