  <link rel="stylesheet" href="./styles.css">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<md-toolbar>
  <div class="md-toolbar-tools themer">
  <img class= "logo" src="/views/components/toolbar/SAVOR4XWHITEXBLACK.png">
    <span flex></span>
    
    <md-button
      aria-label="Login"
      ui-sref="toolbar"
      ng-if="!toolbar.auth.isAuthenticated"
      ng-click="toolbar.login()">
      Login
    </md-button>

    <md-button
      ui-sref="user"
      aria-label="Write Review"
      style="float:right" 
      ng-click="openReview()"
      ng-if="toolbar.auth.isAuthenticated"
      aria-label="User">
      <i class="material-icons" class="name">mode_edit</i></md-icon>
    </md-button>

    <md-button
      aria-label="Logout"
      ui-sref="toolbar"
      ng-if="toolbar.auth.isAuthenticated"
      ng-click="toolbar.logout()">
      Logout
    </md-button>
  
  </div>
  <span class="container" ng-if="!toolbar.auth.isAuthenticated">
    <img class= "rotatingLogo" src="/views/components/toolbar/SAVOR4XWHITEXBLACK.png">
  </span>
</md-toolbar>