  <link rel="stylesheet" href="./styles.css">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<md-toolbar>
  <div class="md-toolbar-tools themer">
  <img class= "logo" src="/views/components/toolbar/SAVOR4XWHITEXBLACK.png">
    <span flex></span>

    <md-button
      ui-sref="user"
      aria-label="Write Review"
      style="float:right" 
      ng-click="openReview()"
      aria-label="User">
      <i class="material-icons" class="name">mode_edit</i></md-icon>
    </md-button>
    
    <!-- Search bar here -->

    <md-menu>
      <md-button
        aria-label="user"
        ng-click="$mdOpenMenu($event)">
        <!-- Need to pull user photo in to here -->
        <img class="userToolbarPhoto" src="/views/components/toolbar/SAVOR4XWHITE.png">
      </md-button>
      <md-menu-content>
        <md-menu-item>
          <md-button>
            Friends
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
            Edit
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button
            aria-label="Logout"
            ui-sref="toolbar"
            ng-if="toolbar.auth.isAuthenticated"
            ng-click="toolbar.logout()">
            Logout
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  
  </div>
  <span class="container" ng-if="!toolbar.auth.isAuthenticated">
    <img class= "rotatingLogo" src="/views/components/toolbar/SAVOR4XWHITEXBLACK.png">
  </span>
</md-toolbar>